<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>测试</title>
</head>
<body>
<div id="container">
    <div id="search">
        <form>
            <h4>查询学生信息</h4>
            <span>输入姓名 : </span><input type="text" id="name" value="heo">
            <input type="button" value="查询" id="btn">
        </form>
    </div>
    <div id="result">

    </div>
</div>
<script src="../public/javascripts/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="../public/javascripts/onclick.js"></script>
</body>
</html>